.layout {
  position: fixed;
  padding: 14px;
  top: 36px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ccc;
  height: calc(100vh - 36px);
  background-image: url(https://workspace.easyv.cloud/assets/bc_5.0.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  filter: brightness(50%);
}
